conformer
s3tokenizer
librosa
resemble-perth
huggingface_hub
safetensors
transformers
diffusers
torchaudio
torchvision
einops
omegaconf
spacy-pkuseg
pykakasi==2.3.0
pyloudnorm
numpy
faster-whisper
ffmpeg-python
runpod>=1.7.7
